<% layout('layouts/boilerplate.ejs') %> 
<div class="col-md-6 offset-md-3">
<div class="row ">
    <h1 class="text-center">Edit Campground</h1>
    <form action="/campgrounds" method="POST" novalidate class="validated-form">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" value="<%= campground.title %> " id="title" name="campground[title]" required> 
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control"  value="<%= campground.location %> " id="location" name="campground[location]" required>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image Url</label>
                <input type="text" class="form-control"  value="<%= campground.image %> " name="campground[image]" id="image" required>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Campground Price</label>
            <div class="input-group">
                <span class="input-group-text" id="basic-addon1">@</span>
                <input type="text" placeholder="0"  value="<%= campground.price %> " name="campground[price]" class="form-control"aria-describedby="basic-addon1" required>
              </div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea  class="form-control" id="description" required name="campground[description]"><%= campground.description %></textarea>
            </div>
            <div class="mb-3">
            <button class=" btn btn-info">Update Campground</button>
        </div>
        </form>
        </div>
    <a href="/campgrounds/<%= campground._id %> ">Back To Campgrounds</a>
    


</div>