<% layout('layouts/boilerplate.ejs') %>
<style>
    #map{
        width: 117%;
        height: 400px;
        position: relative;
        top: -48px;
        left: -110px;

    }
    h2{
        position: relative;
        top: -40px;
    }
    .search{
        width: 55% !important;
        position: relative;
        left: 290px;
        top: -20px;
    }
    .img-fluid{
        height: 215px;
        width: 400px;
    }
    .card-body{
        position: relative;
        left: -20px;
    }
</style>
    <div id='map'></div>
    <h2 class="text-center align-content-center ">Search and View Our Campgrounds</h2>
    <div class=" search">
        <label for="search" class="form-label text-muted">  Search</label>
        <input type="text" class="form-control" id="search" placeholder="Search For a Campground" name="search" required> 
    </div>
    <div class="col-md-10 offset-md-1 ">
    
    <% for(let campground of campgrounds){ %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img src="<%= campground.image %> " alt="" class="img-fluid">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campground.title %>
                        </h5>
                        <p class="card-text">
                            <%= campground.description.substring(0,150) %>.....
                        </p>
                        <p class="card-text">
                            <small class="text-muted">
                                <%= campground.location %>
                            </small>
                        </p>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">View <%= campground.title
                                %> </a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>

            <script>
                const campgrounds = {features:<%- JSON.stringify(campgrounds)%>}
            </script>
            <script src="/javascript/clusterMap.js"></script>